<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ana Sayfa</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <img
          src="assets/giftcard.png"
          style="width: 20px; height: 20px"
          alt="Gift Card"
        />
      </ion-button>
      <ion-button>
        <img
          src="assets/receipt.png"
          style="width: 20px; height: 20px"
          alt="Receipt"
        />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

    <app-search-box></app-search-box>

<ion-content class="customized">
  <div class="">
    <app-card-component></app-card-component>
  </div>  
</ion-content>
