
#container {
  text-align: center;

  position: absolute;
  left: 5;
  right: 5;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 18px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}



.ion-header{
  margin: auto;
  padding: 50px;
}
.ion-title{
  color: black;
  font-size:medium;
}
.customized{
  --overflow: hidden !important;
  }